.about{
    background-color: rgb(59, 59, 60);
    height: 100%;
    display:block;
    justify-content: center;
    flex-wrap: wrap;
    background-color:cornflowerblue;
    h1{
        display: flexbox;
        justify-content: center;
        position: relative;

        text-align: center;
        width: 100%;
        color: blanchedalmond;
        font-size: 2rem;
        background-color:black;
       
        
    }
    .about-container{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 20px;
    
        
    .image-me{
       position: relative;
        width: 30vh;
        height: 30vh;
        border-radius: 100%;  
        top:10%;
        justify-content: center;
        
    
        
    }
    
    .text{
       position: relative;
       width: 70%;
       
       justify-content: center;
       
       top: 7%;
       font-size: 1.5rem;
       margin-left: 60px;
    }
    .skills{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        
        h3{
        font-size: 35px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        }
        
            img{
                height: 100%;
                width: 100%;
                position: relative;
                
            }
        
    }
    }
    
}