.home{
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    
    width: 100%;
    
    
    .image-cover{
  z-index: 0;
  position: relative;
  height: 100%;
  width: 100%;

  overflow: hidden;
  
  

    }
    .text-full{
        position: relative;
        text-align: center;

        bottom: 80%;
        
        left: 3%;
        overflow: visible;
        z-index: 1;
        font-size: 15vh;
        

        
    }
    
    
    
}