.footer-container{
    
    background: black;
    display: flex;
    justify-content:space-evenly;
    
    align-items: center;
    .linkedin{
        width: 30px;
        height: 30px;
        position: relative;
        right:0;
        img{
            width: 60px;
        height: 60px;
        }

    }
    .github{
        width: 30px;
        height: 30px;
        position: relative;
        
        img{
            width: 60px;
        height: 60px;
        }
    }
    
    
    p{
        color: white;
        font-size: 2rem;
    }
}