/*.card-container{
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-img{
    width: 60%;
    height:50%;
    float: left;
}
.img{
    width: 100%;
}
.card-title{
    padding: 10%;
    float: right;
}
.title{
    color: white;
    display: flex;
}*/